// Variables
$large-screen: 1200px;
$gutter: 30px;
$custom-neat-grid: (
	columns: 12,
	gutter: 30px,
	media: 1200px
);

$side-image-grid: (
	columns: 12,
	gutter: 0px
);

$image-path: '../../images';

// Imports
@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/core/neat';

// Owl Carousel
@import "../../bower_components/owl.carousel/src/scss/owl.carousel.scss";

// Magnific Popup
@import "../../bower_components/magnific-popup/src/css/main.scss";

// Flex Mixin
@import "../../bower_components/sass-flex-mixin/flex";

//* Icons & Type Alignment Fix
// @link http://snook.ca/archives/html_and_css/icons-and-type
@mixin icon-type {
	display: inline-block;
	position: relative;
	top: -0.1em;
	vertical-align: middle;
}

//* Vertical Mixin
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Image Carousel
----------------------------------------------------------------------------- */
.widget_rwpw-image-carousel {
	.owl-carousel {
		.owl-item {
			& > div {
				@include vertical-align;
			}
			img {
				width: auto !important;
				margin: 0 auto;
			}
		}
		.owl-nav {
			position: absolute;
			width: 100%;
			left: 0;
			top: 50%;
			margin-top: -18px;
			line-height: 1;
			min-height: 36px;
			.material-icons {
				font-size: 36px;
			}
			& > div {
				position: absolute;
				left: -36px;
				&.owl-next {
					left: auto;
					right: -36px;
				}
			}
		}
		.owl-dots {
			display: block;
			.owl-dot {
				text-align: center;
				display: inline-block;
				margin: 0 4px;
				span {
					width: 10px;
					height: 10px;
					background: transparent;
					border: 1px solid #333;
					border-radius: 50%;
					display: block;
				}
				&.active {
					span {
						background: #333;
					}
				}
			}
		}
	}
}

/* Side Image Widget
----------------------------------------------------------------------------- */
.widget_rwpw-side-image {
	.side-image-default {
		.image-wrapper {
			background-size: cover;
			background-position: left top;
			background-repeat: no-repeat;
			display: block;
			width: 50%;
		}
		.content-wrapper {
			width: 50%;
		}
	}
	.side-image {
		@include flexbox;
		&.right-image {
			.image-wrapper {
				order: 2;
			}
		}
	}
}

/* Button Widget
----------------------------------------------------------------------------- */
.widget_rwpw-button, .so-widget-rwpw-button {
	.btn {
		color: #fff;
		display: inline-block;
		margin-bottom: 0;
		font-weight: 700;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
		border: 1px solid transparent;
		// white-space: nowrap;
		white-space: normal;
		line-height: 1;
		text-decoration: none;
		display: inline-block;
		line-height: 1;
		text-transform: uppercase;
		&.icon-right {
			[class^="sow-icon"] {
				float: right;
				margin-left: 10px;
			}
		}
		&.icon-left {
			[class^="sow-icon"] {
				margin-right: 10px;
				top:-.1em;
			}
		}
		&.icon-center {
			[class^="sow-icon"] {
				display: block;
				margin: 0 auto 10px;
			}
		}
		.button-wrap {
			display: inline-block;
			[class^="sow-icon"] {
				vertical-align: middle;
				position:relative;
			}
		}
		@media only screen and (max-width: 480px) {
			width: 100% !important;
		}
	}
}

/* Features Widget
----------------------------------------------------------------------------- */
.widget_rwpw-features {
	.features-wrapper {
		list-style: none;
		margin: 0;
		padding: 0;
		.feature {
			list-style: none;
			float: left;
			.feature-content {
				display: block;
			}
		}
	}
}
/** ## Testimonial Widget
----------------------------------------------------------------------------- */
.widget_rwpw-testimonial {
	.owl-carousel {
		.owl-item {
			img {
				width: auto !important;
				margin: 0 auto;
			}
		}
		.owl-nav {
			position: absolute;
			width: 100%;
			left: 0;
			top: 50%;
			margin-top: -18px;
			line-height: 1;
			min-height: 36px;
			.material-icons {
				font-size: 36px;
			}
			& > div {
				position: absolute;
				left: -36px;
				&.owl-next {
					left: auto;
					right: -36px;
				}
			}
		}
		.owl-dots {
			display: block;
			.owl-dot {
				text-align: center;
				display: inline-block;
				margin: 0 4px;
				span {
					width: 10px;
					height: 10px;
					background: transparent;
					border: 1px solid #333;
					border-radius: 50%;
					display: block;
				}
				&.active {
					span {
						background: #333;
					}
				}
			}
		}
	}
}

/** ## Video Widget
----------------------------------------------------------------------------- */
.widget_rwpw-video-carousel {
	.owl-carousel {
		.owl-item {
			img {
				width: auto !important;
				margin: 0 auto;
			}
		}
		.owl-video-play-icon {
			background-image: url(#{$image-path}/owl.video.play.png);
		}
		.owl-nav {
			position: absolute;
			width: 100%;
			left: 0;
			top: 50%;
			margin-top: -18px;
			line-height: 1;
			min-height: 36px;
			.material-icons {
				font-size: 36px;
			}
			& > div {
				position: absolute;
				left: -36px;
				&.owl-next {
					left: auto;
					right: -36px;
				}
			}
		}
		.owl-dots {
			display: block;
			.owl-dot {
				text-align: center;
				display: inline-block;
				margin: 0 4px;
				span {
					width: 10px;
					height: 10px;
					background: transparent;
					border: 1px solid #333;
					border-radius: 50%;
					display: block;
				}
				&.active {
					span {
						background: #333;
					}
				}
			}
		}
	}
}

/* ## Popup Content
----------------------------------------------------------------------------- */
.rwpw-popup-content {
	position: relative;
	margin: 0 auto;
}